.dropdown-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  .selected-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
  }

  .dropdown {
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%; // position it right under the parent div
    left: 0;
    z-index: 10; // This will ensure the dropdown is rendered above other elements

    li {
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
