.card-wrapper {
  border: 1px #ccc solid;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: 000;
  width: 130px;
}

.label {
  font-size: 14px;
}

.value {
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px;
}
