.collapse-container {
  border: 1px solid $gray-500;
  border-radius: 16px;
  background-color: $white;
}

.collapse-header {
  padding: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: $black;
  font-weight: 600;
}

.collapse-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  margin-bottom: 10px;
}
