.card-wrapper {
  border: 1px $gray-500 solid;
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $black;

  .label {
    font-size: 14px;
  }

  .value {
    font-size: 24px;
    font-weight: bold;
  }
}
