$primary_color: #58a959;
$navy-100: #04264b;

$blue-35: #e8f4ff;
$blue-50: #cce4fc;

$white: #ffffff;
$white-08: rgba(255, 255, 255, 0.08);
$white-35: rgba(255, 255, 255, 0.35);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-75: rgba(255, 255, 255, 0.75);
$white-85: rgba(255, 255, 255, 0.85);

$gray-105: #f8f8f8;
$gray-110: #ebf1f4;
$gray-200: #d5e0e8;
$gray-300: #a1b2bf;
$gray-400: #72828f;
$gray-500: #dad8d8;
$black: #303a42;
$modal-overlay: rgba(0, 0, 0, 0.6);
