.page-micro-analytics {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  .row-info {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
  }

  .tooltip {
    z-index: 1000;
    position: absolute;
    background-color: $white;
    padding: 8px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid $gray-500;
  }
}
