.layout {
  display: flex;
  height: 100vh; /* Fill the viewport height */
  background-color: $white;

  .main-content {
    width: 100%;
    flex: 1;
    display: flex;
    background-color: #fbfbfb;
    flex-direction: column;
  }

  .content-section {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #fbfbfb;
    display: flex;
    justify-content: flex-start;
  }
}
